* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  gap: 1rem;
  
  flex-wrap: wrap;
}

main .left,
main .right {
  flex: 1;
  min-width: 300px;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

main .left {
  background-color: #000000;
  position: relative;
  padding: 1rem;
}

.left .code {
  flex: 1;
  overflow: auto;
  border-radius: 0.7rem;
  background-color: #0c0c0c;
  padding: 1rem;
  max-height: 70vh;
}

main .left .review {
  position: relative;
  margin-top: 1rem;
  align-self: flex-end;
  background-color: rgb(5, 90, 43);
  font-family: monospace;
  color: #f9f4f4;
  padding: 0.5rem 2rem;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  border-radius: 0.7rem;
  text-align: center;
}

main .right {
  background-color: #343434;
  padding: 1rem;
  font-size: 1rem;
  overflow: auto;
  max-height: 70vh;
  color: #fff;
}

@media (max-width: 768px) {
  main {
    flex-direction: column;
    gap: 2rem;
  }

  main .left,
  main .right {
    flex-basis: 100%;
  }

  main .left .review {
    width: 100%;
    text-align: center;
  }
}
